<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Selamat Datang di Ujian <span id="mapel"></span></h1>

    <form id="saveExam">
        <input type="text" placeholder="Your Name!" name="nama" id="nama">
        <input type="text" placeholder="Your Kelas!" name="kelas" id="kelas">
        <input type="text" placeholder="Your UjianID" name="ujianId" id="ujianId">
        <input type="text" placeholder="Your Mapel" name="ujianMapel" id="ujianMapel">
        <div id="soal">

        </div>
        <button type="submit">Kirim</button>
    </form>
    
    <script>

    </script>
</body>
</html>